* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.selector-container {
    display: flex;
    align-items: center; 
    gap: .75rem;
    height: 90px;
    width: 100%;
    padding: .5rem 1rem;
    box-shadow: 0 1px 4px rgba(0,0,0,.06);
}

#color-picker {
    width: 15%;
    height: 42px;
}

#scheme-select {
    margin-left: 1em;
    width: 60%;
    height: 42px;
    font-size: 1rem;
    color: #111827;
    font-weight: 400;
}

#get-scheme-btn {
    margin-left: 1em;
    width: 25%;
    height: 42px;
    padding: .4em .8em;
    color: #374151;
    background: #ffffff;
    font-weight: 550;
    font-family: "Inter", sans-serif;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,.06);
    cursor:pointer
}

#color-display {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: calc(100vh - 90px);
    width: 100%;
}

.color-col{
  display:grid;
  grid-template-rows: 1fr auto;
}

.color-hex{
  text-align:center;
  padding: .75rem 0;
  background:#ffffff;
  border-top: 1px solid #eeeeee;
  cursor: pointer;
  user-select: all; 
}